<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- titulo -->
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body>
<header style="background-color: aquamarine;">
    <p><strong>encabezado</strong>
        simula un menu</p>

</header>

<h1>Demo de etiquetas HTML</h1>
<p>hola <br>
<!--    espacio entre texto &nbsp-->
    como es&nbsptas
</p>
<p>
    <del>texto censurado</del>
    <br>
    <strong>texto en negrilla</strong>
    <br>
    <em>texto en itálica</em>
</p>
<p style="font-style: italic;">
    texto en itálica
</p>
<button class="button"> soy un botón muy locochón</button>
<br>
<br>
<br>
<br>
<br>

<a href="https://www.procatinator.com">
    Enlace de gatos
</a>
<br>
<br>
<img src="/static/img/gato2.jpg" alt="Imagen de un gato" height="100" width="250">

<table class="tg">
    <thead>
    <tr>
        <th class="tg-0lax" colspan="2">Col 1</th>
        <!-- <th class="tg-baqh">COl 2</th> -->
        <th class="tg-lqy6">Columna 3</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="tg-0lax" rowspan="2">sadsafsdfsadfsdf</td>
        <td class="tg-baqh">fsadfsadfsa&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="tg-lqy6">sdfsadfsdafvvxcvxcv</td>
    </tr>
    <tr>
        <!-- <td class="tg-0lax"></td> -->
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
    </tr>
    </tbody>
</table>




<ul>
    <li>
        <p>hola</p>
    </li>
    <li>
        <p>hola2</p>
    </li>
</ul>


<h2>fomulario:</h2>
<div >
    <form action="" method="GET">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" placeholder="Pepito Perez"><br><br>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido"><br><br>
        <label for="genero">Genero</label>
        <select name="genero" id="genero">
            <option value="M">Masculino</option>
            <option value="F" selected>Femenino</option>
            <option value="O">Otros</option>

        </select> <br><br>
        <label>Carrera</label><br>
        <input type="checkbox" name="sistemas" id="sistemas">
        <label for="sistemas">Ingeneiría de sistemas</label> <br>
        <input type="checkbox" name="electronica" id="electronica">
        <label for="sistemas">Ingeneiría electrónica</label>
        <br><br>
        <label>Ciclo</label><br>
        <input type="radio" name="ciclo" id="1" value="1">
        <label for="1">Ciclo1</label><br>
        <input type="radio" name="ciclo" id="2" value="2">
        <label for="2"> Ciclo 2</label> <br>
        <input type="radio" name="ciclo" id="3" value="3">
        <label for="3"> Ciclo 3</label>
        <br><br>
        <input type="submit" value="Enviar">
    </form>
</div>


<br><br><br>



<footer style="background-color: #669;">
    <h3>pie de pagina</h3>
    <a href="https://www.google.com">google</a>
</footer>

</body>
</html>